body {
    background-color: lightblue;
}
  
h1 {
    color: black;
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 20px;
}

#Header {
    font-weight: normal;
}

#Image {
    width: 200px;
    height: 300px;
}